body *{
    box-sizing: border-box;
    font-family: 'Sunflower', sans-serif;
    font-size: 25px;
}
body{
  margin: 0;
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1920px;
  height: 1080px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
header{
  margin: 0;
  background: #fcf8ec;
  width: 1920px;
  height: 169px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
img{
  height: auto;
}
.privacy{
  color: #e26969;
  text-align: left;
  font: 400 36px "Inter-Regular", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}
.center-content{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
}
aside{
    margin-top: 170px;
    box-sizing: border-box;
    width: 37vh;
    height: 89rem;
    background-color: rgba(255, 0, 0, 0.6);
    position: fixed;
}
a{
  text-decoration-line: none;
}
.title{
  color: #000000;
  text-align: left;
  font: 600 30px "Inter-SemiBold", sans-serif;
  margin-top: 2vh;
  margin-left: 20%;
  width: 600px;
  height: 44px;
  margin-right: 35px;
  
}
li{
  margin-left: -2px;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  list-style-type: upper-roman;
  display: list-item;
}
.main{
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 170px;
    margin-left: 37vh;
    background-color: cornsilk;
    height: 1000px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0.001deg) scale(1, 1);
    overflow: auto;
}
.main .main-title{
    font-size: 30pt large;
    
}
.main .detail{
    font-size: larger;
    width: 50%;
    height: 1000px;
}
@media screen and (max-width : 900px){
  aside{
    display: none;
  }
  .main{
    width: 100%;
    margin-left: 0;
  }
  .main .detail{
    width: 30%;
    height: 1500px;
  }
  .title{
    margin-left: -100vh;
    margin-top: 3.5%;
  }
  img{
    display: none;
  }
}