body *{
    overflow: hidden;
    box-sizing: border-box;
}
body{
  margin: 0;
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1920px;
  height: 1080px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
header{
  margin: 0;
  background: #fcf8ec;
  width: 1920px;
  height: 169px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}
.privacy{
  color: #e26969;
  text-align: left;
  font: 400 36px "Inter-Regular", sans-serif;
  position: absolute;
  left: 35px;
  top: 11px;
}
.aside{
    overflow-x: visible;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    margin-top: 170px;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 14rem;
    height: 89rem;
    background-color: rgba(255, 0, 0, 0.6);
    position: fixed;
}
.title{
  color: #000000;
  text-align: left;
  font: 600 30px "Inter-SemiBold", sans-serif;
  margin-top: 5.4vh;
  margin-left: 25%;
  width: 600px;
  height: 44px;
}
li{
  margin-left: 15px;
  list-style: upper-roman;
  display: inline;
}
.main{
    padding-top: 10px;
    margin-top: 170px;
    margin-left: 160px;
    background-color: cornsilk;
    height: 1000vh;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0.001deg) scale(1, 1);
}
@media screen and (max-width : 900px){
  .aside{
    display: none;
  }
  .main{
    width: 100%;
    margin-left: 0;
  }
  .title{
    margin-left: 10%;
    margin-top: 3.5%;
  }
}